.header {background-color: rgb(178, 229, 178); 
    text-align: left;
font-size: large;
height: 50px;
padding-bottom: 10px;
border-bottom: 5px;
font-style: bold;
 }
body {background-color: wheat; font-size: 25;}
img {padding-top:10px;
float:right}
.main {
   float:left
   padding-left: 500px;
   padding-top:  0px;
}
a {color:blue}
a:hover {color: rgb(233, 12, 12);}
